.talkDesktopWrapper {
    height: calc(100vh - 26px) !important;
}

html {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    padding: 0px !important;
    margin: 0px !important;
    position: absolute !important;
    background-color: #e5e8ec !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
}

#title-bar {
    -webkit-app-region: drag !important;
    height: 23px !important;
    padding: 0px !important;
    margin: 0px !important;
    color: #555 !important;
    font-family: sans-serif !important;
    border-bottom: solid 1px #ddd !important;
}

#title {
    position: fixed !important;
    top: 0px !important;
    left: 32px !important;
    line-height: 24px !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding-left: 5px !important;
}

#title-bar-menu {
    -webkit-app-region: no-drag !important;
    display: inline;
    outline: none !important;
}

#menu-wrapper {
    width: 200px;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1) !important;
    background-color: #fff;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    z-index: 1000000;
    position: fixed !important;
    margin-top: 1px !important;
    display: none;
}

#menu-wrapper hr {
    border: none !important;
    background-color: #ddd !important;
    height: 1px;
    margin: 0 !important;
    padding: 0 !important;
}

#menu-wrapper ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu-wrapper ul li {
    font-size: 12px;
    color: #666;
    padding: 15px;
    cursor: pointer;
}

#menu-wrapper ul li:hover {
    background-color: #f2f2f2;
}

#title-bar-btns {
    -webkit-app-region: no-drag !important;
    position: fixed !important;
    outline: none !important;
    right: 0 !important;
    display: inline !important;
}

#title-bar-btns button,
#title-bar-menu button {
    outline: none !important;
    height: 24px !important;
    width: 32px !important;
    background-color: transparent !important;
    border: none !important;
}

#title-bar-btns button:hover,
#title-bar-menu button:hover {
    background-color: #d5dbe3 !important;
}

#content {
    background-color: #e5e8ec !important;
    position: relative !important;
    height: calc(100vh - 26px) !important;
    /*border-bottom: solid 1px #ddd !important;*/
    /*border-right: solid 1px #ddd !important;*/
    width: calc(100vw - 3px) !important;
    border: solid 1px #e5e8ec;
    border-top: none !important;
}

#content > svg {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: auto !important;
}

#min-btn,
#max-btn,
#close-btn,
#menu-bar-btn {
    position: relative !important;
    cursor: pointer !important;
}

#menu-bar-btn {
    color: #777;
    font-size: 12px;
    margin-top: -1px;
}

#max-btn:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 11px;
    border: solid 1px #555;
    width: 8px;
    height: 8px;
}

#min-btn:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 11px;
    background-color: #555;
    width: 10px;
    height: 1px;
}

#close-btn:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    background-color: #555;
    width: 12px;
    height: 1px;
    transform: rotate(-45deg);
}

#close-btn:after {
    content: '';
    position: absolute;
    top: 11px;
    left: 10px;
    background-color: #555;
    width: 12px;
    height: 1px;
    transform: rotate(45deg);
}

*::-webkit-scrollbar,
.zm2RJ:not(._1bNfg)::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent !important;
}

*::-webkit-scrollbar-thumb,
.zm2RJ:not(._1bNfg)::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15) !important;
    width: 3px !important;
    margin: 0 1px 0 !important;
    border-radius: 10px !important;
}

/*.emoji-common-telegram {*/
/*background-image: url('assets/a279a9ce5721c10b6908b5f20cf5dda2.png') !important;*/
/*}*/

input {
    background: transparent !important;
    border: none !important;
}

._2dA2O:hover, ._15T4e:hover {
    background-color: rgba(197, 79, 156, 0.1) !important;
}

._1Lqlk._3hI4C {
    background-size: auto !important;
}

@media only screen and (min-width: 992px) {
    ._1Lqlk._3KVZZ {
        border-right: solid 1px #ddd !important;
    }
}

._1Lqlk._2z2Ea._2pInM,
._1Lqlk._2z2Ea._1YpKq,
._1Lqlk._2z2Ea._2LQIa {
    border-bottom: solid 1px #ddd !important;
}

._1In1-._3IhAb:hover {
    background-color: #f2f2f2 !important;
}

._1Lqlk._2z2Ea._2pInM:hover {
    background-color: #f8f8f8 !important;
}

._2LQIa,
._2pInM {
    background-color: #fff !important;
    border: none !important;
}

._1Lqlk._2z2Ea._2LQIa > svg {
    color: #888 !important;
    width: 24px !important;
    margin: 12px 10px 0 0 !important;
}

._3TYfX {
    color: #444 !important;
}

._3-yF1 {
    padding: 5px 10px !important;
}

._1Lqlk._1NSo_ ._1Lqlk.LIX33 svg {
    color: #9f456e !important;
}

._362p1 {
    background-color: #ffffff !important;
}

._2ybKw {
    background-color: #eee !important;
}

._3IhAb:hover {
    background-color: #f2f2f2 !important;
}

._38miL {
    color: #444 !important;
}

._3enM0 {
    color: #888 !important;
}

.KyzhS {
    color: #666 !important;
}

._2SUne._1xka4._3TYfX._3n9rL {
    color: #ffffff !important;
}

._2SUne._1njiY._2Jz5s._24QOl {
    color: #444 !important;
}

._2SUne._1njiY._2Jz5s._1i1XX {
    color: #777 !important;
    margin-top: -5px !important;
}

._1Lqlk._2z2Ea._1-hHP {
    margin-top: 4px !important;
}

._1Lqlk._2z2Ea._1YpKq {
    background-color: #ffffff !important;
}

._1Lqlk.mGLNB._2HEsT {
    box-shadow: none !important;
}

._1Lqlk.mGLNB._2HEsT input {
    background-color: #f2f2f2 !important;
}

._1Lqlk._1N92Q._3CpDp {
    display: none !important;
}

._1Lqlk._2z2Ea._1YpKq {
    margin-top: -54px !important;
    width: 90% !important;
    margin-right: 30px !important;
}

._1Lqlk.mGLNB._2HEsT {
    padding: 0 !important;
    margin: 10px 10px 13px 10px !important;
}

._1Lqlk._3LDkG svg {
    color: #9f456e !important;
}

._1Lqlk._1k2KS {
    color: #c1aeb6 !important;
    font-weight: 300 !important;
}

._1Lqlk._2wyMJ {
    color: #555;
}

._1MUFa._3IhAb._2ybKw._1In1- ._1Lqlk._2wyMJ {
    color: #fff !important;
    margin-top: 10px !important;
}

._2SUne._1njiY._2Jz5s._24QOl {
    margin-top: -4px !important;
}

._1Lqlk._2z2Ea._1YpKq div._1Lqlk._3LDkG svg {
    margin-left: 17px !important;
    margin-top: -4px !important;
    color: #888 !important;
    width: 20px !important;
}

._2SUne.KyzhS._24QOl {
    padding-right: 8px !important;
}

._1Lqlk._2z2Ea._2LQIa {
    height: 65px !important;
}

._2SUne._13D4d._1OxKw._237vm {
    color: #9f456e !important;
}

._1Lqlk._k5in svg {
    color: #fff !important;
}

._2SUne.aEoDW._1OxKw._3n9rL._237vm {
    color: #9f456e !important;
}

._1Lqlk._3QtvS.YxAJm {
    background-color: #9f456e !important;
}

._1Lqlk.LIX33.aIgCu svg {
    color: #888 !important;
}

button._Hnov._1YxfV._1wRSW {
    background-color: #9f456e !important;
}

._1Lqlk.LIX33._2z2Ea._3QXGV svg {
    color: #9f456e !important;
}

._1Lqlk.LIX33._2z2Ea._109LH svg {
    color: #9f456e !important;
}

._2SUne._3n9rL._237vm {
    color: #9f456e !important;
}

._1Lqlk.LIX33._2z2Ea._3QXGV:hover {
    box-shadow: none !important;
}

._1Lqlk._3s5qq {
    background-color: #fff !important;
    border-top: solid 1px #ddd !important;
    padding: 0 !important;
}

._1Lqlk._2z2Ea.wLS_s {
    background-color: #e5e8ec !important;
}

._2SUne._1njiY._2Jz5s {
    color: #444 !important;
}

._Hnov._1YxfV._1wRSW {
    background-color: #444 !important;
}

._Hnov._1YxfV._1wRSW ._1Lqlk svg {
    color: #fff !important;
}

._1Lqlk._1NSo_ span._2G9u3._2VZQ6 svg {
    color: #666 !important;
    cursor: pointer !important;
}

._1Lqlk._1JdIJ {
    border: solid 1px #9f456e !important;
}

._1Lqlk._2yBeC {
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4) !important;
}

._1Lqlk._2yBeC ul._1D92N li:last-child {
    display: none !important;
}

._1Lqlk._2yBeC ul._1D92N li._1MUFa._3IhAb._1In1- {
    padding: 0 !important;
}

._307TQ {
    margin: 2px 0 !important;
}

._1Lqlk.zm2RJ._14xFN ul._1D92N li._1MUFa._1In1- {
    padding: 5px 10px !important;
}

._1Lqlk.zm2RJ._14xFN ._1Lqlk.mGLNB,
._1Lqlk._34zO9 ._1Lqlk.mGLNB {
    box-shadow: 0 1px 0 #eee !important;
}

._1Lqlk.zm2RJ._14xFN ._1Lqlk.mGLNB._2ysYf,
._1Lqlk._34zO9 ._1Lqlk.mGLNB {
    box-shadow: 0 1px 0 #bbb !important;
}

button._2kW37._2dA2O {
    color: #9f456e !important;
}

button._2kW37._2dA2O:hover {
    background-color: rgba(245, 32, 133, 0.1) !important;
}

._2SUne._13D4d._237vm {
    color: #9f456e !important;
}

._1Lqlk.mGLNB._nTZB.rm3Af {
    border-bottom: none !important;
}

span._2G9u3._2VZQ6 ._1Lqlk._3dXV0._1EZO3._2b9CS {
    padding: 1px 0 !important;
    box-shadow: none !important;
    background-color: #f2f2f2 !important;
}

._1Lqlk._32EfX._3zAJM svg {
    color: #9f456e !important;
}

button._2kW37._15T4e {
    color: #9f456e !important;
}

._1Lqlk._32EfX._3zAJM {
    transform: translate(-50%, -50%) !important;
}

._1Lqlk.rGCGH {
    background-color: #9f456e !important;
}

._1Lqlk.rGCGH:after {
    background-color: #9f456e !important;
}

._2SUne._2gzLL._13D4d._1i1XX {
    color: #9f456e !important;
    border-bottom: solid 1px #ddd !important;
}

a._2gzLL {
    border-bottom: none !important;
    color: #9d85bf !important;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

a._2gzLL:hover {
    color: #9f456e !important;
}

._1Lqlk._3kBtH.DVZpE {
    background-color: #e5e8ec !important;
    border-right: none !important;
}

._1Lqlk._3ibpE ._1Lqlk.mGLNB {
    box-shadow: none !important;
    border-bottom: solid 1px #ddd !important;
}

._2SUne._1njiY {
    color: #444 !important;
}

._1Lqlk._3kBtH.DVZpE ._1Lqlk.LIX33 svg {
    color: #444 !important;
    margin-right: 10px !important;
}

._1Lqlk._1_sEv ._2SUne._13D4d._3n9rL {
    color: #9f456e !important;
}

ul._1D92N li._1MUFa._3IhAb._2ybKw {
    background-color: #9f456e !important;
}

ul._1D92N li._1MUFa._3IhAb._2ybKw ._1Lqlk._2wyMJ._38miL,
ul._1D92N li._1MUFa._3IhAb._2ybKw ._1Lqlk._2wyMJ._38miL ._2SUne.KyzhS._1i1XX,
ul._1D92N li._1MUFa._3IhAb._2ybKw ._1Lqlk._2wyMJ._38miL ._2SUne._3enM0._1OxKw._237vm,
ul._1D92N li._1MUFa._3IhAb._2ybKw ._1Lqlk._2wyMJ._38miL ._2SUne._13D4d._1OxKw._237vm,
ul._1D92N li._1MUFa._3IhAb._2ybKw ._1Lqlk._2wyMJ._38miL ._1Lqlk.LIX33 svg {
    color: #fff !important;
}

ul._1D92N li._1MUFa._3IhAb._2ybKw._1In1- div._1Lqlk._3LDkG svg {
    background-color: #fff !important;
}

.__1MUFa._3IhAb._1In1- {
    border-right: solid 1px #9f456e !important;
}

._1Lqlk.LIX33._2z2Ea._1DKjA {
    background-color: #f8f8f8 !important;
    margin: 0 0 0 -4px !important;
    justify-content: center !important;
}

._1Lqlk._3tM2U {
    margin-top: 0 !important;
}

._1Lqlk._1sjKi ._1Lqlk._2z2Ea._2QsRN {
    padding: 10px 12px !important;
}

.fancybox-show-toolbar .fancybox-bg,
.fancybox-show-infobar .fancybox-bg,
.fancybox-show-nav .fancybox-bg,
.fancybox-bg {
    background-color: rgba(10, 10, 10, 0.9) !important;
    background: rgba(10, 10, 10, 0.9) !important;
    backdrop-filter: blur(5px) !important;
    z-index: 10000 !important;
}

._1Lqlk._3kBtH._2deOn ._1Lqlk.gwW4L {
    background-color: rgba(10, 10, 10, 0.7) !important;
    background: rgba(10, 10, 10, 0.7) !important;
    backdrop-filter: blur(5px) !important;
}

.fancybox-inner {
    z-index: 10001 !important;
}

.fancybox-button {
    background-color: transparent !important;
}

._1Lqlk.LIX33._2z2Ea._1DKjA ._1Lqlk._1zzKq {
    padding: 8px !important;
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
    -webkit-transition: all 0.1s !important;
    -moz-transition: all 0.1s !important;
    -ms-transition: all 0.1s !important;
    -o-transition: all 0.1s !important;
    transition: all 0.1s !important;
}

._1Lqlk.LIX33._2z2Ea._1DKjA ._1Lqlk._1zzKq:hover {
    background-color: transparent !important;
    -webkit-transform: scale(1.35) !important;
    -moz-transform: scale(1.35) !important;
    -ms-transform: scale(1.35) !important;
    -o-transform: scale(1.35) !important;
    transform: scale(1.35) !important;
}

._1MUFa._2GXEe._1V5dP._2ybKw {
    background-color: transparent !important;
}

._1MUFa._2GXEe._1V5dP._2ybKw ._1Lqlk.LIX33._2z2Ea ._1Lqlk._2z2Ea._22A7X._1XCcV._1qySD {
    border-left: solid 6px rgba(197, 79, 156, 0.5) !important;
    border-right: none !important;
}

._1MUFa._2GXEe._1V5dP._2ybKw ._1Lqlk.LIX33._2z2Ea ._1Lqlk._2z2Ea._22A7X._1qySD {
    border-right: solid 6px rgba(197, 79, 156, 0.5) !important;
}

._1Lqlk._2z2Ea._22A7X._1qySD {
    background-color: #fff1c9 !important;
}

._1Lqlk._2z2Ea._22A7X._1XCcV._1qySD {
    background-color: #fff !important;
}

._1Lqlk._1fGbl._33y82 {
    background-color: #f8f8f8 !important;
}

._1Lqlk._1fGbl._33y82 ._1Lqlk._1NSo_ svg,
._1Lqlk._1fGbl ._1Lqlk._1NSo_ svg {
    color: #9f456e !important;
    margin: 7px !important;
}

._1Lqlk._1fGbl._33y82 ._1Lqlk._1mWHx,
._1Lqlk._1fGbl ._1Lqlk._1mWHx {
    text-align: right !important;
    margin-right: 10px !important;
}

._1Lqlk._1fGbl._33y82 ._1Lqlk._1mWHx svg,
._1Lqlk._1fGbl ._1Lqlk._1mWHx svg {
    color: #999 !important;
    top: -10px !important;
    margin: 0 2px !important;
}

._1Lqlk._1fGbl._33y82 ._1Lqlk._1mWHx svg:hover,
._1Lqlk._1fGbl ._1Lqlk._1mWHx svg:hover {
    transform: scale(1) !important;
    color: #9f456e !important;
}

._1Lqlk._22A7X._1XCcV ._1Lqlk.LIX33._2smpi ._1Lqlk svg {
    color: #9f456e !important;
}

._1Lqlk._2z2Ea._22A7X._1qySD ._1Lqlk._2jEAk ._1Lqlk._22A7X.RfvgL {
    background-color: #f2f2f2 !important;
    max-height: 100px !important;
}

._1Lqlk._2z2Ea._22A7X._1qySD ._1Lqlk._2jEAk ._1Lqlk._22A7X.RfvgL:after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-image: linear-gradient(0deg, #f2f2f2 10%, transparent 50%) !important;
}

._1Lqlk._1N92Q.Oysv1 ._1Lqlk div {
    padding: 18px 18px 18px 0 !important;
}

._1Lqlk._1N92Q.Oysv1 ._1Lqlk div svg {
    color: #9f456e !important;
}

._1Lqlk._7cuOV {
    border-radius: 2px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
}

._1Lqlk._3kBtH._2deOn ._1Lqlk._34zO9 {
    padding: 0 10px !important;
    background-color: #f4f4f4 !important;
}

._1Lqlk._3kBtH._2deOn ._1Lqlk.LeGVT {
    padding: 10px !important;
    background-color: #f4f4f4 !important;
}

._1Lqlk.YXJz5 ._1Lqlk._18RRi {
    -webkit-box-shadow: 0px 3px 0px #9f456e !important;
    -moz-box-shadow: 0px 3px 0px #9f456e !important;
    box-shadow: 0px 3px 0px #9f456e !important;
}
